header
  height: 70px
  background-color: #F9D858

  justify-content: space-between
  align-items: center

  padding: 0 20px

  @include sp
    height: auto
    flex-direction: column
    padding: 12px 12px 0 12px
    gap: 8px

  .title
    font-size: 24px
  nav
    ul
      li
        display: block
        a
          display: block
          text-decoration: none

          font-weight: bold

          padding: 16px

          @include sp
            padding: 16px 12px

          &:hover
            opacity: 0.9
