/* html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter:@rich_clark */
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .is-pc {
    display: block;
  }
  .is-tab {
    display: none;
  }
  .is-sp {
    display: none;
  }
}

@media (max-width: 1024px) {
  .is-pc {
    display: none;
  }
  .is-tab {
    display: block;
  }
  .is-sp {
    display: none;
  }
}

@media (max-width: 640px) {
  .is-pc {
    display: none;
  }
  .is-tab {
    display: none;
  }
  .is-sp {
    display: block;
  }
}

.container {
  width: 800px;
}

@media (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 95%;
  }
}

header {
  height: 70px;
  background-color: #F9D858;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

@media (max-width: 640px) {
  header {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 12px 0 12px;
    gap: 8px;
  }
}

header .title {
  font-size: 24px;
}

header nav ul li {
  display: block;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 16px;
}

@media (max-width: 640px) {
  header nav ul li a {
    padding: 16px 12px;
  }
}

.top-main {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .top-main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 640px) {
  .top-main {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.top-main .app-link .container .content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 640px) {
  .top-main .app-link .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-main .app-link .container .content .item {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 32px;
  background-color: #f4f4f4;
}

@media (max-width: 640px) {
  .top-main .app-link .container .content .item {
    width: 100%;
    padding: 16px;
  }
}

.top-main .app-link .container .content .item .img {
  width: 100%;
  height: auto;
}

.top-main .app-link .container .content .item .over {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.top-main .app-link .container .content .item .over .btn {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #4B91B6;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
}

.top-main .app-link .container .content .item .over .create-at {
  color: #777;
  font-size: 80%;
}

.top-main .app-link .container .content .item .over p {
  line-height: 1.4em;
}

.top-main .app-link .container .content .item.under {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.top-main .app-link .container .content .item.under .img {
  visibility: hidden;
}

footer {
  padding: 16px 0;
}

footer .copy {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 12px;
}

.gum-body {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.gum-body .gum-app {
  width: 100vw;
  height: calc(100vh - 70px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

.gum-body .gum-app .wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 250px;
  background-color: #f3e9be;
  padding: 16px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 6px 39px 0px #3b31002d;
          box-shadow: 2px 6px 39px 0px #3b31002d;
}

@media (max-width: 640px) {
  .gum-body .gum-app .wrapper {
    height: 300px;
  }
}

.gum-body .gum-app .wrapper .record {
  position: absolute;
  bottom: 266px;
  opacity: 0.7;
  line-height: 1.4em;
  padding-right: 14px;
}

@media (max-width: 640px) {
  .gum-body .gum-app .wrapper .record {
    bottom: 316px;
  }
}

.gum-body .gum-app .wrapper .output {
  position: relative;
  width: 100%;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.gum-body .gum-app .wrapper .output::before, .gum-body .gum-app .wrapper .output::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #333;
}

.gum-body .gum-app .wrapper .output::before {
  top: -4px;
  left: -4px;
}

.gum-body .gum-app .wrapper .output::after {
  bottom: -4px;
  right: -4px;
}

.gum-body .gum-app .wrapper .output #selected {
  font-size: 24px;
  font-weight: bold;
}

.gum-body .gum-app .wrapper .output #card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 16px 8px;
}

.gum-body .gum-app .wrapper .output #card .item {
  width: calc(50% - 4px);
  line-height: 24px;
  gap: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #333;
}

.gum-body .gum-app .wrapper .output #card .item .number {
  min-width: 24px;
  height: 24px;
  text-align: center;
  background-color: #333;
  border-radius: 12px;
  color: #f3e9be;
}

.gum-body .gum-app .wrapper .output #card .item.accent .number {
  background-color: #EF4456;
}

.gum-body .gum-app .wrapper .output #card .item.accent .theme {
  font-weight: bold;
  color: #EF4456;
}

.gum-body .gum-app .wrapper #gumButton {
  display: block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  right: 0;
  bottom: 22px;
  font-size: 20px;
  background-color: #388F87;
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gum-body .gum-app .wrapper #gumButton:hover {
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */